<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Caompatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>

    <title>Carta de BCC</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/black/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/black/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/black/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/black/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/black/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/black/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/black/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/black/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="img/black/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="img/black/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="img/black/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="img/black/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="img/black/favicon-128.png" sizes="128x128" />

   
      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">
    
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      
    
    <!-- CSS Estilos -->
    <link rel="stylesheet" href="css/estilos.css">




</head>
<body>
    <%- include('../partials/navigation.html') %>

    <div class="containter">
        <div class="row"> 
            <div class="col s12"> 
                <h1 class="center-align titulo">Menú</h1>
            
                <div class="carousel center-align">

                    <div class="carousel-item"> 
                        <h2 class="subtitulo">Caliente</h2>
                        <div class="linea-division"></div>
                        <p class="sabor">Mocaccino</p>
                        <img src="img/5.jpeg" alt="">    
                    </div>
                    
                    <div class="carousel-item"> 
                        <h2 class="subtitulo">Frios</h2>
                        <div class="linea-division"></div>
                        <p class="sabor">Granizados</p>
                        <img src="img/2.jpeg" alt="">    
                    </div>

                     <div class="carousel-item"> 
                        <h2 class="subtitulo">Comidas</h2>
                        <div class="linea-division"></div>
                        <p class="sabor">Alas</p>
                        <img src="img/3.jpeg" alt="">    
                    </div>

                    <div class="carousel-item"> 
                        <h2 class="subtitulo">Cervezas</h2>
                        <div class="linea-division"></div>
                        <p class="sabor">Artesanales</p>
                        <img src="img/4.jpeg" alt="">    
                    </div>

                    <div class="carousel-item"> 
                        <h2 class="subtitulo">Postres</h2>
                        <div class="linea-division"></div>
                        <p class="sabor">Tiramisu</p>
                        <img src="img/1.jpeg" alt="">    
                    </div>

                    <div class="carousel-item"> 
                        <h2 class="subtitulo">Cócteles</h2>
                        <div class="linea-division"></div>
                        <p class="sabor">Margarita</p>
                        <img src="img/coctel.jpeg" alt="">    
                    </div>
                
                </div>
            </div>
        </div>
    </div>


    <nav class="col-md-6 col-12 tm-nav navP">
        <ul class="tm-nav-ul">
            <!--<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Home</a></li>
            <li class="tm-nav-li"><a href="about.html" class="tm-nav-link">About</a></li>
            <li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Contact</a></li>
             -->
            <!--<div class="tm-contact-social"> -->
            <a class="uno" href="https://drive.google.com/file/d/1KjZ5fiE5ogKuR4UwgB8y3xg_tF-UTcCN/view?usp=drivesdk" class="btn btn-dark">Click Para Abrir Menú</a>
             <a class="dos" href="https://www.instagram.com/bcctulua/" target="_blank" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
            <a class="tres" href="https://www.facebook.com/bcctulua" target="_blank" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
            <a class="cuatro" href="https://wa.me/message/PDCJLTC5D4VBN1" target="_blank" class="tm-social-link"><i class="fab fa-whatsapp tm-social-icon"></i></a>
            
        <!-- </div> -->

    </ul>
    </nav>	 
   
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- JS Main -->
    <script src="js/main.js"></script>

</body>
</html>